body {
  background-color: #f1f1f1;
  margin: 0 auto;
  position: relative;
}
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: white;
  min-height: 60px;
  // overflow: hidden;
  z-index: 100;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    li {
      margin-right: 20px;
    }
  }
}

a {
  color: tomato;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}
a[ id= "about" ]:target ~ #frame section.module {
    transform: translateY( 0px );
}
h2 {
  background-color: tomato;
  display: inline-block;
  padding: 10px 60px 10px 20px;
}
* {
  box-sizing: border-box;
}
#trigger {
  z-index: 10;
  position: fixed;
  bottom: 50px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: cyan;
  border: none;
  outline: none;
}
.clickOne {
  .fly {
    margin-left: 300px;
    animation: slideAndScale 1s;
  }
  .rotate {
    transform: rotate(190deg);
    top: -550px;
    margin-left: 250px;
  }
}

.fly {
  position: absolute;
  left: -230px;
  transition: 1s ease-out;
}
.rotate {
  position: absolute;
  top: 0;
  left: -190px;
  transition: 5s .2s ease-out;
}

@keyframes slideAndScale {
  0% { transform: scale(1); margin-left: -250px;}
  50% { transform: scale(1.2);}
  100% { transform: scale(1); margin-left: 300px;}
}



/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  &:not(.straight):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    transform: rotate(4deg) scale(2);
    background-color: #f1f1f1;
  }
  &:not(.straight):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    transform: rotate(-4deg) scale(2);
    background-color: #f1f1f1;
  }
}
section.module.parallax {
  padding: 240px 0;
  background-position: 0 0;
}
section.module.parallax h1 {
  color: white;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
section.module.parallax-1 {
  background-image: url("../../dist/images/bg1.jpg");
  background-size: 100%;
}
section.module.parallax-2 {
  background-image: url("../../dist/images/bg2.jpg");
  background-size: 100%;
}
section.module.parallax-3 {
  background-image: url("../../dist/images/bg3.jpg");
  background-size: 100%;
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax {
    padding: 300px 0;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
.module {
  transform: translateZ( 0 );
  transition: transform 0.6s ease-in-out;
  backface-visibility: hidden;
  margin-top: -60px;
  
}
