body {
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}
#frame {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
header {
  position: fixed;
  top: 0;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 60px;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    top: -60px;
    left: -10px;
    padding-left: 20px;
    background-color: rgba(241,241,241,0.8);
    width: 100%;
    min-height: 120px;
    z-index: -1;
    transform: rotate(-4deg);
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    li {
      margin-right: 20px;
    }
  }
}

a {
  color: tomato;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

h2 {
  background-color: tomato;
  display: inline-block;
  padding: 10px 60px 10px 20px;
}
* {
  box-sizing: border-box;
}

.clickOne {
  .fly {
    margin-left: 300px;
    animation: slideAndScale 1s;
  }
  .rotate {
    transform: rotate(190deg);
    top: -550px;
    margin-left: 250px;
  }
}

.fly {
  position: absolute;
  left: -230px;
  transition: 1s ease-out;
}
.rotate {
  position: absolute;
  top: 0;
  left: -190px;
  transition: 5s .2s ease-out;
}

@keyframes slideAndScale {
  0% { transform: scale(1); margin-left: -250px;}
  50% { transform: scale(1.2);}
  100% { transform: scale(1); margin-left: 300px;}
}
